html, body {
    margin: 0;
    padding: 0;
    background: #f7f3f2;
    color: #996e77;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;}
  
body {
    margin: 5px 0;}

#mainCanvas{
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width: 400px;  
    height: 600px;
    display: block;
    background: #aaaea2;
    padding: 5px 5px;
    margin-top: 15px;
    border-radius: 3px;}

.player-score-container, .computer-score-container {
    position: absolute;
    display: block;
    background: #bbaea2;
    padding: 20px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;}

.player-score-container{
    right: 50%;
    margin-right: 210px}

.computer-score-container{
    left: 50%;
    margin-left: 210px}

.player-score-container:after, .computer-score-container:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee7db; }

.player-score-container:after {
  content: "You"; }

.computer-score-container:after {
  content: "Com"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }



