/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #fff;
}

body > .container {
  padding: 50px 15px 0;
}

.container .text-muted {
    text-align: center;
    margin: 30px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}